@{
    ViewData["Title"] = "Location searcher";
}

<div class="text-center" id="app">
    <h1 class="display-4">Location searcher</h1>

    <div class="container my-4">
        <p class="font-weight-bold">Search for a location</p>

        <p>Fast search enabled by elasticsearch:</p>
        <div class="form-inline">
            <input class="form-control mb-4"  type="text" v-model="lat" placeholder="Lat">
            <input class="form-control mb-4"  type="text" v-model="long" placeholder="Long">
            <select class="form-control mb-4" v-model="selectedSuggestionId" @@change="selectSuggestion()" >
                <option v-for="option in locationSuggestions" :value="option.id" :key="option.id">
                    {{ option.name }}
                </option>
            </select>
        </div>

        <div class="form-inline">
            <label  class="form-control mb-4">Distance</label>
            <input type="number" v-model="distance" @@change="SearchLocation()" class="form-control mb-4">

             <label  class="form-control mb-4">Number of results</label>
            <input type="number" v-model="pageSize" @@change="SearchLocation()" class="form-control mb-4">

            <button  @@click="SearchLocation()" class="form-control mb-4" class="form-control mb-4">Search</button>
        </div>

        <template v-if="locations.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr v-for="item in locations">
                        <td>{{ item.address }}</td>
                        <td>{{ item.location.latitude }}</td>
                        <td>{{ item.location.longitude }} </td>
                    </tr>

                </tbody>
            </table>
        </template>

        <template v-if="loading">
            <img src="images/loading.gif">
        </template>

        <template v-if="noResults">
            <p>There are no locations found</p>
        </template>
    </div>
</div>
